{{define "title"}}Home{{end}}

{{define "main"}}
    <div class="container">
    <h2>Your Latest Calculations</h2>
        {{ if .Calculations }}
        <table>
            <tr>
                <th>Operation</th>
                <th>Created</th>
                <th>Result</th>
            </tr>
            {{ range .Calculations }}
            <tr class="clickable-row">
                <td><a href="/calculation/{{.ID}}">{{.Operation}}</a></td>   
                <td><a href="/calculation/{{.ID}}">{{humanDate .Created}}</a></td>   
                <td><a href="/calculation/{{.ID}}">{{.Result}}</a></td>   
            </tr>
            {{ end }}
        </table>
        {{ else }}
            <p>There's nothing here to see yet!</p>
        {{ end }}
    </div>
{{end}}