{{define "title"}}Login{{end}}

{{define "main"}}
<form action="/user/login" method="post" class="signup-container" novalidate>
    <input type="hidden" name="csrf_token", value="{{.CSRFToken}}">
    {{range .Form.NonFieldErrors}}
        <div class="login-error">{{.}}</div>
    {{end}}
    <div>
        <label for="email" class="signuplbl">Email:</label>
        {{with .Form.FieldErrors.email}}
            <label class="error">{{.}}</label>
        {{end}}
        <input type="email" class="userinput" name="email" value="{{.Form.Email}}">
    </div>
    <div>
        <label for="password" class="signuplbl">Password:</label>
        {{with .Form.FieldErrors.password}}
            <label class="error">{{.}}</label>
        {{end}}
        <input type="password" class="userinput" name="password">
    </div>
    <div>
        <input type="submit" value="Login" id="signup-btn">
    </div>
</form>

{{end}}