.mainbox {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e3f4f5; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 70vh;
}

h1{
    color: hsl(189, 55%, 44%);
    text-align: center;
    font-size: 3.5em;
}

#homelink{
    text-decoration: none;
}

.container {
    width: 90%;
    max-width: 800px; 
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

table {
    width: 100%;
    border-collapse: collapse; 
    margin-top: 20px;
}

tr{
    color: hsla(0, 2%, 9%, 0.815);
    font-weight: bold;
}

th, td {
    padding: 12px 15px; 
    text-align: left;
}

th {
    background-color: hsl(185, 88%, 29%);
    color: white; 
}

td {
    background-color: hsl(184, 78%, 90%); 
}

tr:nth-child(even) td {
    background-color: hsl(184, 78%, 97%);
}

.clickable-row {
    cursor: pointer;
}

.clickable-row:hover {
    color: hsla(173, 93%, 32%, 0.884);
}

table a {
    text-decoration: none; 
    color: inherit; 
}

h2 {
    color: #333; 
    margin: 0; 
    text-align: center;
}

p {
    color: #666; 
    font-size: 1.1em;
}

#created{
    text-align: right;
}

.calculator-container {
    width: 60%;
    max-width: 400px; 
    background-color: #fff; 
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.calculator-container.addition {
    background-color: #d4edda; 
}

.calculator-container.subtraction {
    background-color: #f8d7da; 
}

.calculator-container.multiplication {
    background-color: #d1ecf1; 
}

.calculator-container.division {
    background-color: #fff3cd;
}

nav {
    border-bottom: 1px solid #E4E5E7;
    padding-top: 12px;
    padding-bottom: 15px;
    height: 10px;
    color: #6A6C6F;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

nav a {
    text-decoration: none;
    color: hsl(189, 55%, 44%);
    font-size: 1em;
    margin-right: 15px;
    font-weight: bold;
    display: inline-block;
}

#logout-bth{
    background: none;
    border: none;
    cursor: pointer;
    color: hsl(189, 55%, 44%);
    font-size: 1em;
    /* margin-right: 190px; */
    font-weight: bold;
    display: inline-block;
}

#logout-bth:hover{
    color: hsl(189, 91%, 22%);
}
nav form {
    display: inline-block;
    margin-left: 10px;
}

nav div {
    width: 50%;
    float: left;
}

/* nav div:last-child {
    text-align: right;
}

nav div:last-child a {
    margin-left: 10px;
} */

nav a:hover {
    color: hsl(189, 91%, 22%);
}
body, html {
  margin: 0;
  padding: 0;
}

.calculator-container {
  max-width: 300px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
} 

.button-group {
  display: flex;
  gap: 10px; 
  justify-content: center; 
  margin-top: 37px;
  margin-bottom: 5px;
}

.button-group button {
  flex: 1;
  padding: 10px;
  border: 1px solid hsl(189, 55%, 44%);
  border-radius: 4px;
  background-color: hsl(189, 55%, 44%);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.button-group button:hover {
  background-color: hsl(189, 92%, 20%);
}

.result{
    color: hsla(192, 87%, 26%, 0.973);
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: none;
}

.result:hover{
    color: hsla(192, 90%, 46%, 0.973);
}

.result-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#resetbtn{
  padding: 10px;
  border: 1px solid hsl(2, 72%, 45%);
  border-radius: 4px;
  background-color: hsl(2, 72%, 45%);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  font-weight: bold;
  text-decoration: none;
}

.error{
    margin-top: 5px;
    color: red;
    font-size: 0.8em;
    font-weight: bold;
    width: 100%;
}

.error + input {
    border-color: #C0392B !important;
    border-width: 2px !important;
}

.resetdiv{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
    width: 100%;
}

.signup-container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.089);
    padding: 40px;
    width: 300px;
    margin: 0 auto;
}

.signuplbl {
    display: block;
    font-weight: bold;
    margin-bottom: 2px;
    margin-top: 10px;
}
.userinput{
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#signup-btn{
    width: 100%;
    margin-top: 15px;
    background-color: rgb(0, 183, 255);
    color: white;
    font-weight: bold;
    padding: 8px;
    border: none;
    border-radius: 5px;
}

.flash{
    color: rgb(61, 145, 6);
    font-weight: bold;
    padding: 18px;
    margin-bottom: 36px;
    text-align: center;
    border: 2px solid greenyellow;
    border-radius: 5px;
    background-color: #f9f9f9; 
}


.login-error {
    text-align: center;
    color: red;
    padding: 8px;
    font-weight: bold;
    margin-bottom: 5px;
    border-radius: 4px;
    border: 2px solid red;
}

